---
import BackButton from "@/components/button/BackButton.astro";
import Layout from "./Layout.astro";
import PageLayout from "./PageLayout.astro";

const { frontmatter } = Astro.props;

---
<Layout title={frontmatter.title} description={frontmatter.description}>
    <PageLayout>
        <h1>{frontmatter.title}</h1>
        <p>Écrit par : {frontmatter.author}</p>
        <p class="pb-8">Publié le : {frontmatter.pubDate}</p>
        <slot />
        <BackButton url="/articles" texte="Articles" />
    </PageLayout>
</Layout>